<div class="mat-elevation-z8">
    <button (click)="exportexcel()">Exportar a Excel</button>
      <table mat-table [dataSource]="dataSource" id="excel-table">
   
        <!-- Coordinador Column -->
      <ng-container matColumnDef="coordinador">
          <th mat-header-cell *matHeaderCellDef> Coordinador </th>
          <td mat-cell *matCellDef="let element"> {{element.coordinador}} </td>
        </ng-container>
    
        <!-- Lider Column -->
        <ng-container matColumnDef="lider">
          <th mat-header-cell *matHeaderCellDef> Lider </th>
          <td mat-cell *matCellDef="let element"> {{element.lider}} </td>
        </ng-container>
    
        <!-- Votante Column -->
        <ng-container matColumnDef="votante">
          <th mat-header-cell *matHeaderCellDef> Votante </th>
          <td mat-cell *matCellDef="let element"> {{element.votante}} </td>
        </ng-container>

        <!-- Telefono Column -->
        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> Telefono </th>
            <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
          </ng-container>

          <!-- Votó Column -->
        <ng-container matColumnDef="voto">
            <th mat-header-cell *matHeaderCellDef> Voto </th>
            <td mat-cell *matCellDef="let element"> {{element.voto}} </td>
          </ng-container>
        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
