<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Nombre Column -->
    <ng-container matColumnDef="vNombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.vNombre}} </td>
      </ng-container>

      <!-- Apellidos Column -->
      <ng-container matColumnDef="vApellidos">
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <td mat-cell *matCellDef="let element"> {{element.vApellidos}} </td>
      </ng-container>
  
      <!-- Telefono Column -->
      <ng-container matColumnDef="vTelefono">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.vTelefono}} </td>
      </ng-container>
  
      <!-- Seccion Column -->
      <ng-container matColumnDef="vSeccion">
        <th mat-header-cell *matHeaderCellDef> Seccion </th>
        <td mat-cell *matCellDef="let element"> {{element.vSeccion}} </td>
      </ng-container>
  
      <!-- Traslado Column -->
      <ng-container matColumnDef="vTraslado">
        <th mat-header-cell *matHeaderCellDef> Traslado </th>
        <td mat-cell *matCellDef="let element"> {{element.vTraslado}} </td>
      </ng-container>

      <!-- Voto Column -->
      <ng-container matColumnDef="vVoto">
        <th mat-header-cell *matHeaderCellDef> Votó </th>
        <td mat-cell *matCellDef="let element"> {{element.vVoto}} </td>
      </ng-container>

      <!-- Votantes Column -->
      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/dashboard/vpage', element.id_promovido]"> <mat-icon color="primary">edit</mat-icon></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>