<br>
<div class="row">

    <!-- Total de Estructura -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header text-uppercase">Total de miembros registrados</div>
            <div class="card-body text-success">
                <p class="card-text">{{ TotalVotos()?.total }}</p>
            </div>
        </div>
    </div>

    <!-- Total de Votos -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-danger  mb-3" style="max-width: 18rem;">
            <div class="card-header text-uppercase">Miembros que han votado</div>
            <div class="card-body text-success">
                <p class="card-text">{{ TotalVotos()?.votos }}</p>
            </div>
        </div>
    </div>

    <!-- Votos faltantes -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-danger  mb-3" style="max-width: 18rem;">
            <div class="card-header text-uppercase">Votos faltantes</div>
            <div class="card-body text-success">
                <p class="card-text">{{ TotalVotos()?.faltantes }}</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-info  mb-3" style="max-width: 18rem;">
            <div class="card-header text-uppercase">Grafica de Votos</div>
            <div class="card-body text-success">
                <app-chart-pie-structure [chartVotanteTotalVotos]="chartVotanteTotalVotos"></app-chart-pie-structure>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row my-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Conteo rapido</div>
                </div>
                <div class="card-body">
                    <app-chart-column-partidos [chartPartidoVotos]="chartPartidoVotos"></app-chart-column-partidos>
                </div>
            </div>
        </div>
    </div>
</div>