<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
 
      <!-- Nombre Column -->
    <ng-container matColumnDef="czNombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.czNombre}} </td>
      </ng-container>
  
      <!-- Telefono Column -->
      <ng-container matColumnDef="czTelefono">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.czTelefono}} </td>
      </ng-container>
  
      <!-- Seccion Column -->
      <ng-container matColumnDef="czSeccion">
        <th mat-header-cell *matHeaderCellDef> Seccion </th>
        <td mat-cell *matCellDef="let element"> {{element.czSeccion}} </td>
      </ng-container>
  
      <!-- Editar Column -->
      <!-- <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element"><mat-icon color="primary">edit</mat-icon></td>
      </ng-container> -->

      <!-- Votantes Column -->
      <ng-container matColumnDef="cSeccion">
        <th mat-header-cell *matHeaderCellDef> C. Seccion </th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/dashboard/cslist', element.id_coordinador_zona]"> <mat-icon color="primary">search</mat-icon></td>
      </ng-container>

      <!-- Nombre Estructura -->
    <ng-container matColumnDef="estructura">
      <th mat-header-cell *matHeaderCellDef> Estructura </th>
      <td mat-cell *matCellDef="let element" [routerLink]="['/dashboard/estructurapage',8, element.id_coordinador_zona]"> <mat-icon color="primary">search</mat-icon> </td>
    </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>