<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
 
      <!-- Seccion Column -->
    <ng-container matColumnDef="cve_seccion">
        <th mat-header-cell *matHeaderCellDef> Seccion </th>
        <td mat-cell *matCellDef="let element"> {{element.cve_seccion}} </td>
      </ng-container>
  
      <!-- Casilla Column -->
      <ng-container matColumnDef="cve_casilla">
        <th mat-header-cell *matHeaderCellDef> Casilla </th>
        <td mat-cell *matCellDef="let element"> {{element.cve_casilla}} </td>
      </ng-container>
  
      <!-- Votos Column -->
      <ng-container matColumnDef="novoto">
        <th mat-header-cell *matHeaderCellDef> Votos </th>
        <td mat-cell *matCellDef="let element"> {{element.novoto}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>