<form [formGroup]="myForm" (ngSubmit)="updateVotante()" class="container">

    <hr>
    <legend>Datos del Votate</legend>


    <mat-form-field class="form-control">
        <mat-label>Nombre</mat-label>
        <input type="text" formControlName="nombre" matInput placeholder="Nombre">
    </mat-form-field>

    <mat-form-field class="form-control">
        <mat-label>Telefono</mat-label>
        <input type="text" formControlName="telefono" matInput placeholder="Telefono">
    </mat-form-field>

    <mat-form-field class="form-control">
        <mat-label>Domicilio</mat-label>
        <input type="text" formControlName="domicilio" matInput placeholder="Domicilio">
    </mat-form-field>

    <mat-form-field class="form-control">
        <mat-label>Referencia</mat-label>
        <input type="text" formControlName="referenciadom" matInput placeholder="Referencia">
    </mat-form-field>

    <mat-form-field class="form-control">
        <mat-label>Seccion</mat-label>
        <input type="text" formControlName="seccion" matInput placeholder="Seccion">
    </mat-form-field>

    <section  class="form-control">
    <mat-slide-toggle formControlName="traslado" class="example-margin" [color]="color" [checked]="checked"
        [disabled]="disabled">
        Traslado!
    </mat-slide-toggle>
</section>

    <button mat-button mat-flat-button color="primary" [disabled]="myForm.invalid" type="submit">
        Guardar
    </button>
    <button mat-button color="warn" (click)="goBack()">
        Regresar
    </button>
</form>
